@import url('https://fonts.googleapis.com/css2?family=SF+Pro:wght@400;600&display=swap');

.LandingPage {
  text-align: center;
  font-family: 'SF Pro', sans-serif;
  background: linear-gradient(135deg, #6e2c8e, #1f4b70, #1b7a4e, #b3740a, #9a3a00);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  color: #1d1d1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-family: 'SF Pro', sans-serif; */
  font-family: BlinkMacSystemFont;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.LandingPage-header {
  max-width: 800px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.LandingPage-header h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  font-weight: 720;
  color: #ffffff;
}

.LandingPage-header p {
  font-size: 1.5em;
  margin-bottom: 40px;
  font-weight: 400;
  color: #ffffff;
}

.LandingPage-link {
  color: #ffffff;
  background-color: #005bb5;
  text-decoration: none;
  font-size: 1.5em;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
  width: auto;
}

.LandingPage-link:hover {
  background-color: #004494;
  transform: scale(1.05);
}

.LandingPage-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.LandingPage-logo {
  height: 150px;
  margin-bottom: 20px;
}
